#### 1. Import pandas library

In [1]:
import pandas as pandito

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz')

#### 4. Import the users table

In [4]:
users = pandito.read_sql_query('SELECT * FROM stats.users', engine)

In [5]:
users.columns

Index(['Id', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

#### 5. Rename Id column to userId

In [6]:
users = users.rename(columns={'Id':'userId'})

In [7]:
users.columns

Index(['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

#### 6. Import the posts table.

In [8]:
postes = pandito.read_sql_query("SELECT * FROM stats.posts", engine)

In [16]:
postes.columns
#postes.head()

Index(['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'OwnerUserId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 7. Rename Id column to postId and OwnerUserId to userId

In [17]:
postes = postes.rename(columns={'Id':'postId', 'OwnerUserId':'userId'})
postes.tail()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,None,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaT,115367.0,NaT,None,None
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,None,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaT,115358.0,NaT,None,None
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,None,...,NaN,0,NaN,NaN,NaT,NaT,115375.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [18]:
Udf = pandito.DataFrame(users[['userId','Reputation','Views','UpVotes','DownVotes']])
Pdf = pandito.DataFrame(postes[['postId', 'Score','userId','ViewCount','CommentCount']])

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [20]:
UPMerge = Udf.merge(Pdf)

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [50]:
null_cols = UPMerge.isnull().sum()
null_cols

userId          0
Reputation      0
Views           0
UpVotes         0
DownVotes       0
postId          0
Score           0
CommentCount    0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [40]:
#eliminare la columna viewcount del dataframe, ya que es mas del 50% de los valores faltantes, ya que si los lleno con algun otro valor, 
#se esta alterando la informaciÃ³n de la base de datos
UPMerge = UPMerge.drop("ViewCount", axis=1)

In [41]:
UPMerge

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,CommentCount
0,-1,1,0,5007,1920,2175,0,0
1,-1,1,0,5007,1920,8576,0,0
2,-1,1,0,5007,1920,8578,0,0
3,-1,1,0,5007,1920,8981,0,0
4,-1,1,0,5007,1920,8982,0,0
5,-1,1,0,5007,1920,9857,0,0
6,-1,1,0,5007,1920,9858,0,0
7,-1,1,0,5007,1920,9860,0,0
8,-1,1,0,5007,1920,10130,0,0
9,-1,1,0,5007,1920,10131,0,0
10,-1,1,0,5007,1920,15331,0,0
11,-1,1,0,5007,1920,15332,0,0
12,-1,1,0,5007,1920,16296,0,0
13,-1,1,0,5007,1920,16366,0,0
14,-1,1,0,5007,1920,19423,0,0
15,-1,1,0,5007,1920,19848,0,0
16,-1,1,0,5007,1920,20259,0,0
17,-1,1,0,5007,1920,20261,0,0
18,-1,1,0,5007,1920,20262,0,0
19,-1,1,0,5007,1920,20263,0,0
20,-1,1,0,5007,1920,20264,0,0
21,-1,1,0,5007,1920,20485,0,0
22,-1,1,0,5007,1920,20487,0,0
23,-1,1,0,5007,1920,20489,0,0
24,-1,1,0,5007,1920,20490,0,0
25,-1,1,0,5007,1920,21497,0,0
26,-1,1,0,5007,1920,21795,0,0
27,-1,1,0,5007,1920,21856,0,0
28,-1,1,0,5007,1920,21860,0,0
29,-1,1,0,5007,1920,21861,0,0
...,...,...,...,...,...,...,...,...
90554,55674,1,0,0,0,115228,0,1
90555,55676,1,1,0,0,115231,0,1
90556,55677,1,1,0,0,115232,0,2
90557,55679,1,0,0,0,115236,0,0
90558,55682,13,0,0,0,115246,2,0
90559,55684,6,0,0,0,115253,1,6
90560,55687,6,0,0,0,115264,1,0
90561,55689,6,0,0,0,115270,1,7
90562,55695,1,0,0,0,115278,0,0
90563,55697,1,0,0,0,115285,0,4
90564,55699,6,0,0,0,115287,1,6
90565,55702,26,1,0,0,115291,5,1
90566,55709,1,0,0,0,115312,0,0
90567,55710,1,0,0,0,115313,0,4
90568,55713,6,0,0,0,115315,1,2
90569,55714,6,0,0,0,115316,1,3
90570,55715,6,0,0,0,115321,1,0
90571,55718,6,0,0,0,115327,1,0
90572,55719,1,1,0,0,115328,0,0
90573,55720,1,0,0,0,115331,0,1
90574,55724,16,1,0,0,115335,3,1
90575,55729,16,1,0,0,115338,0,0
90576,55730,1,0,0,0,115340,0,1
90577,55731,1,0,0,0,115350,0,0
90578,55733,6,1,0,0,115356,1,0
90579,55734,1,0,0,0,115352,0,0
90580,55738,11,0,0,0,115360,2,4
90581,55742,6,0,0,0,115366,1,0
90582,55744,6,1,0,0,115370,1,2
90583,55746,106,1,0,0,115376,1,2


#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [ ]:
#despues de ver las columnas y los originales y de hacer un poco de exploraciÃ³n, no considero recomendable cambiar los tipos de dato de las 
#columnas porque aun existen valores faltantes, 
#sin embargo, en caso de obtener los datos fatantes, cambiarÃ­a el tipo de dato de Age a int64, en lugar de float64

In [57]:
UPMerge.dtypes
UPMerge.isnull().sum()

userId          0
Reputation      0
Views           0
UpVotes         0
DownVotes       0
postId          0
Score           0
CommentCount    0
dtype: int64

In [58]:
postes.dtypes
postes.isnull().sum()

postId                       0
PostTypeId                   0
AcceptedAnswerId         77276
CreaionDate                  0
Score                        0
ViewCount                49055
Body                       220
userId                    1392
LasActivityDate              0
Title                    49055
Tags                     49055
AnswerCount              49055
CommentCount                 0
FavoriteCount            78730
LastEditorUserId         47365
LastEditDate             46938
CommunityOwnedDate       89509
ParentId                 44221
ClosedDate               90366
OwnerDisplayName         89467
LastEditorDisplayName    91511
dtype: int64

In [59]:
users.dtypes
users.isnull().sum()

userId                 0
Reputation             0
CreationDate           0
DisplayName            0
LastAccessDate         0
WebsiteUrl         32204
Location           28634
AboutMe            30946
Views                  0
UpVotes                0
DownVotes              0
AccountId              0
Age                32007
ProfileImageUrl    23846
dtype: int64

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.